{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - BIGDEAL{% endblock %}

{% block content %}
<img src="https://agroprospective.ma/en/assets/images/page404.png" alt="Not found">
   <center><a href="{{ path('app_home') }}" class="btn btn-info">Revenir à l'acceuil</a></center>
{% endblock %}
