{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}
    <!-- Three columns of text below the carousel -->
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <img src="{{ asset('assets/img/top.png') }}" alt="{{ product.name }}" class="img-top">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->
    <hr>
    <h3>Nos nouveautées</h3>
    <p>Découvrez nos nouveauté du moment.</p>
    <div class="row">
        {% for product in products_new %}
            <div class="col-md-3">
                <div class="new">NOUVEAUTÉ</div>
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Produit compatible <span class="text-muted">de nouvelle génération.</span></h2>
            <p class="lead">Tout nos produits de la gamme informatique sont 100% compatibles. Les produits ont été testé de manière a ce que chaque produits puisse être utilisé avec n'importe quel machine.</p>
        </div>
        <div class="col-md-5"   style="background-image: url('{{ asset('assets/img/component.jpg') }}');
                width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Hé, as-tu essayé <span class="text-muted"> livrasion rapide  ?</span></h2>
            <p class="lead">Chez BIGDEAL, pour satisfaire tout nos clients, nous avons opté à une livraison en 24h pour toutes commande éffectué avant 13h. Commandez, et recevez grâce a notre partenaire, votre colis le lendemain avant 15h, génial non ? </p>
        </div>
        <div class="col-md-5">
            <div style="background-image: url('{{ asset('assets/img/delivery.jpg') }}');
                    width: 500px; height: 500px;">
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}
