<html>
<div class="container marketing {% if block('carousel') is not defined  %}mt-5 {% endif %}">
        {% block content %}
        {% endblock %}
    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom">
        <p>&copy; 2021-2022 BIGDEAL<br/>
            <small>La boutique 100% Made in France <br/>
            &middot;<a href="#">Privacy</a> &middot; <a href="#">Terms</a>
            </small>
        </p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>